<div>
  <app-form-handler (submittedForm)="onSubmit($event)" [formGroup]="formGroup">
    <div #contentForm>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="userName" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>technology</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="item?.value" *ngFor="let item of optionTypes">
            {{item?.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" type="text" />
      </mat-form-field>
      <button type="submit" mat-raised-button color="warn">Submit</button>
    </div>
  </app-form-handler>

</div>
