<!-- <app-form-handler (submittedForm)="onSubmit($event)" [formGroup]="formGroup"> -->
<div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <app-input-field [markAsTouch]="markFormDirty" (emitControlValue)="valueUpdate($event)"
      [control]="formGroup.controls['email']" [controlName]="'email'" [type]="'email'" [placeholder]="'Email'">
    </app-input-field>
    <app-input-field [markAsTouch]="markFormDirty" (emitControlValue)="valueUpdate($event)"
      [control]="formGroup.controls['userName']" [controlName]="'userName'" [type]="'text'" [placeholder]="'User Name'">
    </app-input-field>
    <app-input-field [markAsTouch]="markFormDirty" (emitControlValue)="valueUpdate($event)"
      [control]="formGroup.controls['age']" [controlName]="'age'" [type]="'number'" [placeholder]="'Age'">
    </app-input-field>
    <app-input-field [markAsTouch]="markFormDirty" (emitControlValue)="valueUpdate($event)"
      [control]="formGroup.controls['password']" [controlName]="'password'" [type]="'password'" [isPassword]="true"
      [placeholder]="'Password'">
    </app-input-field>
    <app-input-field [markAsTouch]="markFormDirty" (emitControlValue)="valueUpdate($event)"
      [control]="formGroup.controls['dob']" [controlName]="'dob'" [type]="'date'" [placeholder]="'Date Of Birth'">
    </app-input-field>
    <button type="submit" mat-raised-button color="warn">Submit</button>
  </form>
</div>
<!-- </app-form-handler> -->
