<div class="form-container">
  <form  [formGroup]="formGroup" (formSubmitted)="onSubmit($event)" reusableFormDir>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="userName" type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="text" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" type="text" />
      </mat-form-field>
    </div>
    <div class="submit-container">
      <button type="submit" mat-raised-button color="warn">Submit</button>
    </div>
  </form>
  <!-- <div>
    <button (click)="toggleIt()" mat-raised-button color="accent">toggle form</button>
  </div> -->
</div>
