<div class="container">
  <div>
    <mat-form-field>
      <mat-label>Mat Select</mat-label>
      <mat-select [formControl]="selectOptions?.selectControl" [multiple]="selectOptions?.hasMultiSelect">
        <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="selectAll"></ng-container>
        <mat-option *ngFor="let item of selectOptions?.list" [value]="item">
          <ng-container [ngTemplateOutlet]="templateEl" [ngTemplateOutletContext]={item:item}>
          </ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button (click)="finalUpdate()">submit</button>
</div>

<!-- template for searching on mat select -->
<ng-template #searchTemplate>
  <ng-container *ngIf="selectOptions?.hasLocalSearching">
    <div class="container__search">
      <mat-form-field appearance="outline">
        <mat-label>Search Here..</mat-label>
        <input autocomplete="off" matInput [formControl]="searchControl" type="text">
        <mat-icon (click)="searchControl?.reset()" *ngIf="searchControl &&searchControl?.value" matSuffix>
          clear</mat-icon>
      </mat-form-field>
    </div>
  </ng-container>
</ng-template>
<!-- template for selecting and deselecting all items in a list -->
<ng-template #selectAll>
  <ng-container *ngIf="selectOptions?.hasSelectAllFeature;else normalSelect">
    <mat-option (click)="selectAllItems(true)" *ngIf="!isAllSelected;else deselectAll" disabled [value]="null">Select
      All</mat-option>
    <ng-template #deselectAll>
      <mat-option (click)="selectAllItems(false)" disabled [value]="null">Deselect All</mat-option>
    </ng-template>
  </ng-container>
  <ng-template #normalSelect>
    <mat-option disabled [value]="null">Select</mat-option>
  </ng-template>
</ng-template>
